/* .darkBG {
    background-color: black;
}

.darkBG a.navbar-brand {
    color: white;
}

.darkBG a.navbar-brand:hover {
    color: grey;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
} */