.body-content {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.footer-link {
    color: white;
    opacity: .8
}

.footer-link:hover {
    color: white;
    opacity: 1
}